/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Add padding to navbar and jumbotron */
  .header, .jumbotron{
    margin-right: 130px;
    margin-left: 130px;
  }

  .header {
    margin-bottom: 30px;
  }

  /* Remove border and xtra space from page headers*/
  .page-header {
  	border: 0 none;
  	margin: 0;
  }
}